{% extends 'project_app/base_template.html' %}

{% block content %}

    <h1>Calendar</h1>
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
            </div>
            <div class="card card-body">
                <table class = "table">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>

                    {% for i in calendar %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.status}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock content %} 